name: "Check, build and cache"

on:
  pull_request:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - ".github/**"
      - flake-modules/_internal/**
      - LICENSE
      - "*.json"
      - .gitignore
      - .envrc
  workflow_dispatch:

env:
  CACHIX_CACHE: fym998-nur
  NUR_REPO: fym998

jobs:
  build:
    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Nix
        uses: ./.github/actions/install-nix
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Show flake metadata
        run: nix flake metadata --json

      - name: Check
        run: nix run .#_ci.check

      - name: Build and cache packages
        env:
          CACHIX_AUTH_TOKEN: "${{ secrets.CACHIX_AUTH_TOKEN }}"
        run: nix run .#_ci.build

  trigger-update:
    needs: build
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Trigger NUR update
        if: ${{ env.NUR_REPO != '<YOUR_REPO_NAME>' }}
        run: curl -XPOST "https://nur-update.nix-community.org/update?repo=${{ env.NUR_REPO }}"
