name: "Build and populate cache"

on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: "25 4 * * 6" # Every Saturday at 04:25 UTC
  workflow_dispatch:

jobs:
  build-and-cache-packages:
    strategy:
      matrix:
        # Set this to cache your build results in cachix for faster builds
        # in CI and for everyone who uses your cache.
        #
        # Format: Your cachix cache host name without the ".cachix.org" suffix.
        # Example: mycache (for mycache.cachix.org)
        #
        # For this to work, you also need to set the CACHIX_SIGNING_KEY or
        # CACHIX_AUTH_TOKEN secret in your repository secrets settings in
        # Github found at
        # https://github.com/<your_githubname>/nur-packages/settings/secrets
        cachixName:
          - fym998-nur
        runner:
          - ubuntu-latest
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            accept-flake-config = true

      - name: Show nix info
        run: nix --debug --version

      - name: Show flake metadata
        run: nix flake metadata --json

      - name: Show flake attributes
        run: nix flake show --json

      - name: Check evaluation
        run: nix eval ".#checks.$(nix eval --raw --impure --expr builtins.currentSystem)" --json

      - name: Build and cache packages
        env:
          CACHIX_AUTH_TOKEN: "${{ secrets.CACHIX_AUTH_TOKEN }}"
        run: |
          nix run nixpkgs#nix-fast-build -- \
          --flake ".#checks.$(nix eval --raw --impure --expr builtins.currentSystem)" \
          --no-nom \
          --skip-cached \
          --cachix-cache ${{ matrix.cachixName }}

  trigger-nur-update:
    needs: build-and-cache-packages
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Set this to notify the global nur package registry that changes are
        # available.
        #
        # The repo name as used in
        # https://github.com/nix-community/NUR/blob/master/repos.json
        nurRepo:
          - fym998
    steps:
      - name: Trigger NUR update
        if: ${{ matrix.nurRepo != '<YOUR_REPO_NAME>' }}
        run: curl -XPOST "https://nur-update.nix-community.org/update?repo=${{ matrix.nurRepo }}"
