name: "Build and populate cache"

on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: "25 4 * * 6" # Every Saturday at 04:25 UTC
  workflow_dispatch:

env:
  cachixName: fym998-nur
  nurRepo: fym998

jobs:
  evaluate:
    runs-on: ubuntu-latest
    outputs:
      eval_result: ${{ steps.eval.outputs.eval_result }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            accept-flake-config = true
            substituters = https://cache.nixos.org/
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=

      - uses: cachix/cachix-action@v16
        with:
          name: ${{ env.cachixName }}
          extraPullNames: pre-commit-hooks,nix-community

      - name: Show nix info
        run: nix --debug --version

      - name: Show flake metadata
        run: nix flake metadata --json

      - name: Show flake attributes
        run: nix flake show --all-systems --json

      - name: Evaluate
        id: eval
        run: |
          echo -n eval_result= >> $GITHUB_OUTPUT
          nix eval .#checks --json | tee -a $GITHUB_OUTPUT

  check-eval-change:
    runs-on: ubuntu-latest
    needs: evaluate
    outputs:
      changed: ${{ steps.compare.outputs.changed }}
    steps:
      - name: Restore previous eval result
        id: cache_restore
        uses: actions/cache@v4
        with:
          path: eval_result.json
          key: eval_result

      - name: Compare evaluation results
        id: compare
        run: |
          CURRENT_RESULT="${{ needs.evaluate.outputs.eval_result }}"

          if [ -f eval_result.json ]; then
            PREV_RESULT=$(cat eval_result.json)
          else
            PREV_RESULT=""
          fi

          echo -e "Current Result:\n $CURRENT_RESULT"
          echo -e "Previous Result:\n $PREV_RESULT"

          if [ "$CURRENT_RESULT" != "$PREV_RESULT" ]; then
            echo "changed=true" >> $GITHUB_OUTPUT
            echo "$CURRENT_RESULT" > eval_result.json
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi

      - name: Save new eval result
        if: steps.compare.outputs.changed == 'true'
        uses: actions/cache@v4
        with:
          path: eval_result.json
          key: eval_result

  build-and-cache-packages:
    needs: check-eval-change
    if: ${{ needs.check-eval-change.outputs.changed == 'true' }} # 仅在评估变化时运行
    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            accept-flake-config = true
            substituters = https://cache.nixos.org/
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=

      - uses: cachix/cachix-action@v16
        with:
          name: ${{ env.cachixName }}
          extraPullNames: pre-commit-hooks,nix-community

      - name: Show nix info
        run: nix --debug --version

      - name: Build and cache packages
        env:
          CACHIX_AUTH_TOKEN: "${{ secrets.CACHIX_AUTH_TOKEN }}"
        run: |
          nix run nixpkgs#nix-fast-build -- \
          --flake ".#checks.$(nix eval --raw --impure --expr builtins.currentSystem)" \
          --no-nom \
          --skip-cached \
          --cachix-cache ${{ env.cachixName }}

  trigger-nur-update:
    needs: build-and-cache-packages
    runs-on: ubuntu-latest
    steps:
      - name: Trigger NUR update
        if: ${{ env.nurRepo != '<YOUR_REPO_NAME>' }}
        run: curl -XPOST "https://nur-update.nix-community.org/update?repo=${{ env.nurRepo }}"
