[Desktop Entry]
Name=An Anime Game Launcher
Comment=An Launcher for a specific anime game with auto-patching, discord rpc and time tracking
Exec=AppRun
Terminal=false
Type=Application
Icon=an-anime-game-launcher-gtk
Categories=Game
