name: "Update flake and create PR"
on:
  schedule:
    - cron:  '0 19 * * 6'
  workflow_dispatch:
jobs:
  updates:
    runs-on: ubuntu-latest
    steps:
    - name: Generate GitHub App Token
      id: app-token
      uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
      with:
        app-id: ${{ secrets.APP_ID }}
        private-key: ${{ secrets.APP_PRIVATE_KEY }}
    - name: Checkout repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        token: ${{ steps.app-token.outputs.token }}
        persist-credentials: false
    - name: Install nix
      uses: cachix/install-nix-action@fd24c48048070c1be9acd18c9d369a83f0fe94d7 # v31.8.1
      with:
        extra_nix_config: |
          experimental-features = nix-command flakes
    - name: Update flake inputs
      run: nix flake update
    - name: Update readme
      run: nix develop -c update-readme
    - name: Create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
      with:
        token: ${{ steps.app-token.outputs.token }}
        commit-message: "chore(deps): update flake inputs"
        title: "chore(deps): update flake inputs"
        branch: update-flake
        sign-commits: true
    - name: Enable auto-merge
      if: steps.cpr.outputs.pull-request-number
      run: |
        gh pr merge --auto --merge "${{ steps.cpr.outputs.pull-request-number }}"
      env:
        GH_TOKEN: ${{ steps.app-token.outputs.token }}
