<<<WORKSPACED_FILE:.vscode/extensions/workspaced.base16-theme/themes/base16.json:0644>>>
{
  "name": "Base16",
  "type": "dark",
  "colors": {
    "editor.background": "#{{ .root.modules.base16.config.base00 }}",
    "editor.foreground": "#{{ .root.modules.base16.config.base05 }}",
    "editorCursor.foreground": "#{{ .root.modules.base16.config.base05 }}",
    "editor.selectionBackground": "#{{ .root.modules.base16.config.base02 }}",
    "editor.lineHighlightBackground": "#{{ .root.modules.base16.config.base01 }}",
    "editorLineNumber.foreground": "#{{ .root.modules.base16.config.base03 }}",
    "editorActiveLineNumber.foreground": "#{{ .root.modules.base16.config.base04 }}",
    "sideBar.background": "#{{ .root.modules.base16.config.base01 }}",
    "sideBar.foreground": "#{{ .root.modules.base16.config.base05 }}",
    "sideBarSectionHeader.background": "#{{ .root.modules.base16.config.base02 }}",
    "statusBar.background": "#{{ .root.modules.base16.config.base01 }}",
    "statusBar.foreground": "#{{ .root.modules.base16.config.base04 }}",
    "activityBar.background": "#{{ .root.modules.base16.config.base00 }}",
    "activityBar.foreground": "#{{ .root.modules.base16.config.base05 }}",
    "titleBar.activeBackground": "#{{ .root.modules.base16.config.base00 }}",
    "titleBar.activeForeground": "#{{ .root.modules.base16.config.base05 }}"
  },
  "tokenColors": [
    { "scope": "comment", "settings": { "foreground": "#{{ .root.modules.base16.config.base03 }}", "fontStyle": "italic" } },
    { "scope": "keyword", "settings": { "foreground": "#{{ .root.modules.base16.config.base0E }}" } },
    { "scope": "storage", "settings": { "foreground": "#{{ .root.modules.base16.config.base0E }}" } },
    { "scope": "string", "settings": { "foreground": "#{{ .root.modules.base16.config.base0B }}" } },
    { "scope": "constant.numeric", "settings": { "foreground": "#{{ .root.modules.base16.config.base09 }}" } },
    { "scope": "entity.name.function", "settings": { "foreground": "#{{ .root.modules.base16.config.base0D }}" } },
    { "scope": "variable", "settings": { "foreground": "#{{ .root.modules.base16.config.base08 }}" } }
  ]
}
<<<WORKSPACED_ENDFILE>>>
<<<WORKSPACED_FILE:.var/app/com.visualstudio.code/data/vscode/extensions/workspaced.base16-theme/themes/base16.json:0644>>>
{
  "name": "Base16",
  "type": "dark",
  "colors": {
    "editor.background": "#{{ .root.modules.base16.config.base00 }}",
    "editor.foreground": "#{{ .root.modules.base16.config.base05 }}",
    "editorCursor.foreground": "#{{ .root.modules.base16.config.base05 }}",
    "editor.selectionBackground": "#{{ .root.modules.base16.config.base02 }}",
    "editor.lineHighlightBackground": "#{{ .root.modules.base16.config.base01 }}",
    "editorLineNumber.foreground": "#{{ .root.modules.base16.config.base03 }}",
    "editorActiveLineNumber.foreground": "#{{ .root.modules.base16.config.base04 }}",
    "sideBar.background": "#{{ .root.modules.base16.config.base01 }}",
    "sideBar.foreground": "#{{ .root.modules.base16.config.base05 }}",
    "sideBarSectionHeader.background": "#{{ .root.modules.base16.config.base02 }}",
    "statusBar.background": "#{{ .root.modules.base16.config.base01 }}",
    "statusBar.foreground": "#{{ .root.modules.base16.config.base04 }}",
    "activityBar.background": "#{{ .root.modules.base16.config.base00 }}",
    "activityBar.foreground": "#{{ .root.modules.base16.config.base05 }}",
    "titleBar.activeBackground": "#{{ .root.modules.base16.config.base00 }}",
    "titleBar.activeForeground": "#{{ .root.modules.base16.config.base05 }}"
  },
  "tokenColors": [
    { "scope": "comment", "settings": { "foreground": "#{{ .root.modules.base16.config.base03 }}", "fontStyle": "italic" } },
    { "scope": "keyword", "settings": { "foreground": "#{{ .root.modules.base16.config.base0E }}" } },
    { "scope": "storage", "settings": { "foreground": "#{{ .root.modules.base16.config.base0E }}" } },
    { "scope": "string", "settings": { "foreground": "#{{ .root.modules.base16.config.base0B }}" } },
    { "scope": "constant.numeric", "settings": { "foreground": "#{{ .root.modules.base16.config.base09 }}" } },
    { "scope": "entity.name.function", "settings": { "foreground": "#{{ .root.modules.base16.config.base0D }}" } },
    { "scope": "variable", "settings": { "foreground": "#{{ .root.modules.base16.config.base08 }}" } }
  ]
}
<<<WORKSPACED_ENDFILE>>>
