name: update packages

on:
  schedule:
    - cron: "56 3 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run update script
        run: uv run python manager.py update

      - name: auto commit
        uses: stefanzweifel/git-auto-commit-action@v7
