name: Update inputs
on:
  schedule:
    # rebuild at 23:39 on Friday
    - cron: "39 23 * * 5"
  workflow_dispatch:
jobs:
  update_inputs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: main
      - name: Install nix
        uses: cachix/install-nix-action@v18
        with:
          nix_path: "nixpkgs=channel:nixos-unstable"
          extra_nix_config: |
            experimental-features = nix-command flakes
            substituters = https://slaier.cachix.org https://cache.nixos.org
            trusted-public-keys = slaier.cachix.org-1:NyXPOqlxuGWgyn0ApNHMopkbix3QjMUAcR+JOjjxLtU= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: Prepare
        run: |
          git checkout -B wip-update-inputs
          git config user.name "dependabot[bot]"
          git config user.email "<49699333+dependabot[bot]@users.noreply.github.com>"
      - name: Update flake lock
        run: |
          nix flake update --commit-lock-file --commit-lockfile-summary "nix(deps): update inputs"
      - name: Update nvfetcher sources
        run: |
          nix shell nixpkgs#nvfetcher -c nvfetcher --commit-changes
      - name: Push
        run: |
          git push origin wip-update-inputs --force-with-lease
      - name: Trigger Workflow
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'build.yml',
              ref: 'wip-update-inputs',
            })
