name: Fast-forward pull request
on:
  issue_comment:
    types: [created, edited]
jobs:
  fast-forward:
    # Only run if the comment starts with the /fast-forward command.
    if: ${{ startsWith(github.event.comment.body, '/fast-forward')
            && github.event.issue.pull_request }}
    runs-on: ubuntu-latest

    # permissions:
    #   contents: write
    #   pull-requests: write
    #   issues: write

    steps:
      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          # required
          # TODO use a separate app?
          app-id: ${{ vars.RHYS_T_UPDATE_APP_ID }}
          private-key: ${{ secrets.RHYS_T_UPDATE_APP_SECRET }}
      - name: Fast forwarding
        uses: Rhys-T/fast-forward-action@f70baff47e5c39f3c119bea350f03b9ed92132af # v1.0.0+curl-globoff
        with:
          github_token: ${{ steps.app-token.outputs.token }}
          merge: true
          # To reduce the workflow's verbosity, use 'on-error'
          # to only post a comment when an error occurs, or 'never' to
          # never post a comment.  (In all cases the information is
          # still available in the step's summary.)
          comment: on-error
