name: Check if pull request can be fast-forwarded
on:
  pull_request:
    types: [opened, reopened, synchronize]
jobs:
  check-fast-forward:
    runs-on: ubuntu-latest

    # permissions:
    #   contents: read
    #   # We appear to need write permission for both pull-requests and
    #   # issues in order to post a comment to a pull request.
    #   pull-requests: write
    #   issues: write

    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          # required
          # TODO use a separate app?
          app-id: ${{ vars.RHYS_T_UPDATE_APP_ID }}
          private-key: ${{ secrets.RHYS_T_UPDATE_APP_SECRET }}
      - name: Checking if fast forwarding is possible
        uses: sequoia-pgp/fast-forward@e2c6fb52f977408912b000ad4577a669f1c4f5fe
        with:
          github_token: ${{ steps.app-token.outputs.token }}
          merge: false
          # To reduce the workflow's verbosity, use 'on-error'
          # to only post a comment when an error occurs, or 'never' to
          # never post a comment.  (In all cases the information is
          # still available in the step's summary.)
          # comment: always
          comment: on-error
