# ABOUT THE /boot LAYOUT:
# /EFI/syslinux/syslinux.efi: EFI entrypoint which modern bootloaders should hand off to.
# /EFI/BOOT/BOOTX64.EFI:      fallback EFI entrypoint for older firmware which doesn't know
#                                  how to locate EFI programs, and hardcodes entries instead.
#
# for either .efi, the entrypoint first loads from its same directory:
# - ldlinux.e64
# - syslinux.cfg
# in both cases, the syslinux.cfg loaded "trampolines" here, to /syslinux/syslinux.cfg.
#
# within this file, we can configure the UI mode (e.g. barebones prompt, curses-like 'menu.c32'),
# add boot entries (e.g. a memtest entry), and so on.

# N.B.: .c32 files mentioned here are loaded on-demand, from either the current directory *or*
# the .efi's original directory in /EFI/...
#
# known menus:
# - UI cmenu.c32: fails to load: `Undef symbol FAIL: memset`
# - UI vesamenu.c32: fails to load: `Undef symbol FAIL: memset`
# - UI menu.c32: works, basic fixed-size curses-like menu
#
UI menu.c32
INCLUDE ../extlinux/extlinux.conf
