name: "Update package version"
permissions:
  contents: write
  pull-requests: write
on:
  schedule:
    - cron:  '00 2 * * *'
  workflow_dispatch:
jobs:
  update:
    strategy:
      matrix:
        nixPath:
          - nixpkgs=https://github.com/NixOS/nixpkgs/archive/refs/heads/nixpkgs-unstable.tar.gz
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
    - name: Install nix
      uses: cachix/install-nix-action@v31
      with:
        nix_path: "${{ matrix.nixPath }}"
        extra_nix_config: |
          experimental-features = nix-command flakes
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
    - name: Show nixpkgs version
      run: nix-instantiate --eval -E '(import <nixpkgs> {}).lib.version'
    - name: Update clock-tui
      run: nix-shell -p nix-update --run "nix-update clock-tui"
    - name: Update sddm-astronaut
      run: nix-shell -p nix-update --run "nix-update --version=branch=master sddm-astronaut"
    - name: Update wl-x11-clipsync
      run: nix-shell -p nix-update --run "nix-update --version=branch=main wl-x11-clipsync"
    - name: Update md2puki
      run: nix-shell -p nix-update --run "nix-update md2puki"
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v7
      with:
        commit-message: "Bump package version"
        title: "chore: bump package version"
        assignees: Nanamiiiii
        reviewers: Nanamiiiii
        branch: ci/update-version
