# https://direnv.net/man/direnv-stdlib.1.html

strict_env

CACHIX_AUTH_TOKEN="$(cat ~/.config/sops-nix/secrets/cachix-auth-token)"
export CACHIX_AUTH_TOKEN

watch_file ./flake/per-system/pre-commit.nix

use flake
