---
name: build

"on":
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: "0 5 * * *"

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        nurRepo:
          - tboerger
        cachixName:
          - tboerger
        nixPath:
          - nixpkgs=channel:nixos-unstable

    steps:
      - name: Clone source
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Install nix
        uses: cachix/install-nix-action@6a9a9e84a173d90b3ffb42c5ddaf9ea033fad011 # v23
        with:
          nix_path: "${{ matrix.nixPath }}"
          extra_nix_config: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Show version
        run: nix-instantiate --eval -E '(import <nixpkgs> {}).lib.version'

      - name: Setup cachix
        uses: cachix/cachix-action@v12
        with:
          name: ${{ matrix.cachixName }}
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Check evaluation
        run: |
          nix-env -f . -qa \* --meta --xml \
            --allowed-uris https://static.rust-lang.org \
            --option restrict-eval true \
            --option allow-import-from-derivation true \
            --drv-path --show-trace \
            -I nixpkgs=$(nix-instantiate --find-file nixpkgs) \
            -I $PWD

      - name: Build packages
        run: nix shell -f '<nixpkgs>' nix-build-uncached -c nix-build-uncached ci.nix -A cacheOutputs

      - name: Trigger nur
        run: curl -XPOST "https://nur-update.herokuapp.com/update?repo=${{ matrix.nurRepo }}"

...
