* {
	border: none;
	border-radius: 0px;
	font-family: Monaspace Neon;
	font-weight: bold;
	font-size: 15px;
	box-shadow: none;
	text-shadow: none;
	transition-duration: 0s;
	min-height: 0;
}

window {
	color: rgba(217, 216, 216, 1);
	background: rgba(83, 89, 83, 0);
}

window#waybar.solo {
	color: rgba(217, 216, 216, 1);
	background: rgba(35, 31, 32, 0.85);
}

#workspaces button {
	padding: 0px 8px 0px 8px;
	color: rgba(217, 216, 216, 0.6);
  margin: 0px 0px 0px 0px;
	border-radius: 2px;
}

#workspaces button.urgent {
	color: rgba(217, 216, 216, 0.8);
	background: rgba(227, 180, 184, 0.3);
}

#workspaces button:hover {
	color: rgba(217, 216, 216, 0.8);
	background: rgba(35, 31, 32, 0.2);
}

#workspaces button.focused {
	color: rgba(217, 216, 216, 1);
	background: rgba(35, 31, 32, 0.1);
}

/*
*/

#tray, #mode, #battery, #cpu, #memory, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail, #temperature, #idle_inhibitor {
	color: rgba(217, 216, 216, 1);
	padding: 3px 6px 3px 6px;
	margin: 2px 4px 2px 4px;
	background: rgba(35, 31, 32, 0.1);
	border-radius: 6px;
}
#network {
	padding: 5px 6px 3px 6px;
	margin: 2px 4px 2px 4px;
	background: rgba(35, 31, 32, 0.1);
	border-radius: 6px;
	font-weight: 600;
	font-size: 13px;
} 
#tray {
  padding-right:9px;
  padding-left: 10px;
}

#pulseaudio {
	padding: 3px 6px 3px 6px;
	margin: 2px 4px 2px 4px;
	background: rgba(35, 31, 32, 0.1);
	border-radius: 6px;
}

#custom-lock {
	padding: 3px 5px 3px 15px;
	margin: 0px 0px 0px 0px;
	color: rgba(217, 216, 216, 1);
}

#clock {
	color: rgba(217, 216, 216, 1);
	border-radius: 2px;
	padding: 3px 9px 3px 9px;
	margin: 1px 0px 1px 0px;
	background: rgba(35, 31, 32, 0);
}

#battery.warning {
	color: rgba(255, 210, 4, 1);
}

#battery.critical {
	color: rgba(238, 46, 36, 1);
}

#battery.charging {
	color: rgba(217, 216, 216, 1);
}
