# Base16 Helix Theme (Generated)
"ui.background" = { bg = "#{{ .root.modules.base16.config.base00 }}" }
"ui.background.separator" = { fg = "#{{ .root.modules.base16.config.base03 }}" }
"ui.cursor" = { fg = "#{{ .root.modules.base16.config.base00 }}", bg = "#{{ .root.modules.base16.config.base05 }}" }
"ui.cursor.match" = { fg = "#{{ .root.modules.base16.config.base0A }}", modifiers = ["bold"] }
"ui.cursor.primary" = { fg = "#{{ .root.modules.base16.config.base00 }}", bg = "#{{ .root.modules.base16.config.base05 }}" }
"ui.cursorline.primary" = { bg = "#{{ .root.modules.base16.config.base01 }}" }
"ui.selection" = { bg = "#{{ .root.modules.base16.config.base02 }}" }
"ui.linenr" = { fg = "#{{ .root.modules.base16.config.base03 }}" }
"ui.linenr.selected" = { fg = "#{{ .root.modules.base16.config.base04 }}" }
"ui.statusline" = { fg = "#{{ .root.modules.base16.config.base04 }}", bg = "#{{ .root.modules.base16.config.base01 }}" }
"ui.statusline.inactive" = { fg = "#{{ .root.modules.base16.config.base03 }}", bg = "#{{ .root.modules.base16.config.base01 }}" }
"ui.statusline.normal" = { fg = "#{{ .root.modules.base16.config.base00 }}", bg = "#{{ .root.modules.base16.config.base0B }}", modifiers = ["bold"] }
"ui.statusline.insert" = { fg = "#{{ .root.modules.base16.config.base00 }}", bg = "#{{ .root.modules.base16.config.base0D }}", modifiers = ["bold"] }
"ui.statusline.select" = { fg = "#{{ .root.modules.base16.config.base00 }}", bg = "#{{ .root.modules.base16.config.base0E }}", modifiers = ["bold"] }
"ui.popup" = { fg = "#{{ .root.modules.base16.config.base05 }}", bg = "#{{ .root.modules.base16.config.base01 }}" }
"ui.window" = { fg = "#{{ .root.modules.base16.config.base03 }}" }
"ui.help" = { fg = "#{{ .root.modules.base16.config.base05 }}", bg = "#{{ .root.modules.base16.config.base01 }}" }
"ui.text" = "#{{ .root.modules.base16.config.base05 }}"
"ui.text.focus" = "#{{ .root.modules.base16.config.base05 }}"

"variable" = "#{{ .root.modules.base16.config.base08 }}"
"constant" = "#{{ .root.modules.base16.config.base09 }}"
"constant.character.escape" = "#{{ .root.modules.base16.config.base0C }}"
"comment" = { fg = "#{{ .root.modules.base16.config.base03 }}", modifiers = ["italic"] }
"variable.other.member" = "#{{ .root.modules.base16.config.base08 }}"
"label" = "#{{ .root.modules.base16.config.base0E }}"
"string" = "#{{ .root.modules.base16.config.base0B }}"
"string.regexp" = "#{{ .root.modules.base16.config.base08 }}"
"escape" = "#{{ .root.modules.base16.config.base0C }}"
"type" = "#{{ .root.modules.base16.config.base0A }}"
"constructor" = "#{{ .root.modules.base16.config.base0D }}"
"function" = "#{{ .root.modules.base16.config.base0D }}"
"keyword" = "#{{ .root.modules.base16.config.base0E }}"
"operator" = "#{{ .root.modules.base16.config.base05 }}"
"attribute" = "#{{ .root.modules.base16.config.base0A }}"
"namespace" = "#{{ .root.modules.base16.config.base0E }}"
"special" = "#{{ .root.modules.base16.config.base0D }}"

"markup.heading" = "#{{ .root.modules.base16.config.base0D }}"
"markup.list" = "#{{ .root.modules.base16.config.base08 }}"
"markup.bold" = { fg = "#{{ .root.modules.base16.config.base0A }}", modifiers = ["bold"] }
"markup.italic" = { fg = "#{{ .root.modules.base16.config.base0E }}", modifiers = ["italic"] }
"markup.link.url" = { fg = "#{{ .root.modules.base16.config.base09 }}", modifiers = ["underline"] }
"markup.link.text" = "#{{ .root.modules.base16.config.base08 }}"
"markup.raw" = "#{{ .root.modules.base16.config.base09 }}"

"diagnostic" = { modifiers = ["underline"] }
"error" = "#{{ .root.modules.base16.config.base08 }}"
"warning" = "#{{ .root.modules.base16.config.base0A }}"
"info" = "#{{ .root.modules.base16.config.base0D }}"
"hint" = "#{{ .root.modules.base16.config.base0C }}"
