watch_dir nix/flake/devShells

use flake

use_sops() {
    local path=${1:-$PWD/secrets/variables.env}
    eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
    watch_file "$path"
}

use sops
