name: Update upstream-info.json

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */12 * * *'

defaults:
  run:
    working-directory: ./pkgs/shadow-client

jobs:
  update-upstream-info:
    name: Update Upstream information
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v5.0.1

      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          github-token: ${{ secrets.GH_TOKEN }}

      - uses: DeterminateSystems/magic-nix-cache-action@v13

      - name: Configure Git author and create branch
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Update Upstream information file
        run: ./update.py --commit

      - name: Create pull request
        uses: peter-evans/create-pull-request@v8.0.0
        with:
          token: ${{ secrets.GH_TOKEN }}
          branch: "update-shadow-channels"
          title: "Update upstream-info.json"
          reviewers: "anthonyroussel"
          labels: "update"
