name: Update Flake inputs

on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * *'

jobs:
  update-nixpkgs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0

      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          github-token: ${{ secrets.GH_TOKEN }}

      - uses: DeterminateSystems/magic-nix-cache-action@v13

      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@v28
        id: update_flakes
        with:
          token: ${{ secrets.GH_TOKEN }}
          pr-title: "chore(deps): update flake.lock"
          pr-labels: dependencies
