[Desktop Entry]
StartupWMClass=chromium-browser
Version=1.0
Name=Chromium (Open Quantum Safe)
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Web Browser (Open Quantum Safe)
GenericName[ar]=متصفح الشبكة (Open Quantum Safe)
GenericName[bg]=Уеб браузър (Open Quantum Safe)
GenericName[ca]=Navegador web (Open Quantum Safe)
GenericName[cs]=WWW prohlížeč (Open Quantum Safe)
GenericName[da]=Browser (Open Quantum Safe)
GenericName[de]=Web-Browser (Open Quantum Safe)
GenericName[el]=Περιηγητής ιστού (Open Quantum Safe)
GenericName[en_GB]=Web Browser (Open Quantum Safe)
GenericName[es]=Navegador web (Open Quantum Safe)
GenericName[et]=Veebibrauser (Open Quantum Safe)
GenericName[fi]=WWW-selain (Open Quantum Safe)
GenericName[fr]=Navigateur Web (Open Quantum Safe)
GenericName[gu]=વેબ બ્રાઉઝર (Open Quantum Safe)
GenericName[he]=דפדפן אינטרנט (Open Quantum Safe)
GenericName[hi]=वेब ब्राउज़र (Open Quantum Safe)
GenericName[hu]=Webböngésző (Open Quantum Safe)
GenericName[it]=Browser Web (Open Quantum Safe)
GenericName[ja]=ウェブブラウザ (Open Quantum Safe)
GenericName[kn]=ಜಾಲ ವೀಕ್ಷಕ (Open Quantum Safe)
GenericName[ko]=웹 브라우저 (Open Quantum Safe)
GenericName[lt]=Žiniatinklio naršyklė (Open Quantum Safe)
GenericName[lv]=Tīmekļa pārlūks (Open Quantum Safe)
GenericName[ml]=വെബ് ബ്രൌസര്‍ (Open Quantum Safe)
GenericName[mr]=वेब ब्राऊजर (Open Quantum Safe)
GenericName[nb]=Nettleser (Open Quantum Safe)
GenericName[nl]=Webbrowser (Open Quantum Safe)
GenericName[pl]=Przeglądarka WWW (Open Quantum Safe)
GenericName[pt]=Navegador Web (Open Quantum Safe)
GenericName[pt_BR]=Navegador da Internet (Open Quantum Safe)
GenericName[ro]=Navigator de Internet (Open Quantum Safe)
GenericName[ru]=Веб-браузер (Open Quantum Safe)
GenericName[sl]=Spletni brskalnik (Open Quantum Safe)
GenericName[sv]=Webbläsare (Open Quantum Safe)
GenericName[ta]=இணைய உலாவி (Open Quantum Safe)
GenericName[th]=เว็บเบราว์เซอร์ (Open Quantum Safe)
GenericName[tr]=Web Tarayıcı (Open Quantum Safe)
GenericName[uk]=Навігатор Тенет (Open Quantum Safe)
GenericName[zh_CN]=网页浏览器 (Open Quantum Safe)
GenericName[zh_HK]=網頁瀏覽器 (Open Quantum Safe)
GenericName[zh_TW]=網頁瀏覽器 (Open Quantum Safe)
# Not translated in KDE, from Epiphany 2.26.1-0ubuntu1.
GenericName[bn]=ওয়েব ব্রাউজার (Open Quantum Safe)
GenericName[fil]=Web Browser (Open Quantum Safe)
GenericName[hr]=Web preglednik (Open Quantum Safe)
GenericName[id]=Browser Web (Open Quantum Safe)
GenericName[or]=ଓ୍ବେବ ବ୍ରାଉଜର (Open Quantum Safe)
GenericName[sk]=WWW prehliadač (Open Quantum Safe)
GenericName[sr]=Интернет прегледник (Open Quantum Safe)
GenericName[te]=మహాతల అన్వేషి (Open Quantum Safe)
GenericName[vi]=Bộ duyệt Web (Open Quantum Safe)
# Gnome and KDE 3 uses Comment.
Comment=Access the Internet (Open Quantum Safe)
Comment[ar]=الدخول إلى الإنترنت (Open Quantum Safe)
Comment[bg]=Достъп до интернет (Open Quantum Safe)
Comment[bn]=ইন্টারনেটটি অ্যাক্সেস করুন (Open Quantum Safe)
Comment[ca]=Accedeix a Internet (Open Quantum Safe)
Comment[cs]=Přístup k internetu (Open Quantum Safe)
Comment[da]=Få adgang til internettet (Open Quantum Safe)
Comment[de]=Internetzugriff (Open Quantum Safe)
Comment[el]=Πρόσβαση στο Διαδίκτυο (Open Quantum Safe)
Comment[en_GB]=Access the Internet (Open Quantum Safe)
Comment[es]=Accede a Internet. (Open Quantum Safe)
Comment[et]=Pääs Internetti (Open Quantum Safe)
Comment[fi]=Käytä internetiä (Open Quantum Safe)
Comment[fil]=I-access ang Internet (Open Quantum Safe)
Comment[fr]=Accéder à Internet (Open Quantum Safe)
Comment[gu]=ઇંટરનેટ ઍક્સેસ કરો (Open Quantum Safe)
Comment[he]=גישה אל האינטרנט (Open Quantum Safe)
Comment[hi]=इंटरनेट तक पहुंच स्थापित करें (Open Quantum Safe)
Comment[hr]=Pristup Internetu (Open Quantum Safe)
Comment[hu]=Internetelérés (Open Quantum Safe)
Comment[id]=Akses Internet (Open Quantum Safe)
Comment[it]=Accesso a Internet (Open Quantum Safe)
Comment[ja]=インターネットにアクセス (Open Quantum Safe)
Comment[kn]=ಇಂಟರ್ನೆಟ್ ಅನ್ನು ಪ್ರವೇಶಿಸಿ (Open Quantum Safe)
Comment[ko]=인터넷 연결 (Open Quantum Safe)
Comment[lt]=Interneto prieiga (Open Quantum Safe)
Comment[lv]=Piekļūt internetam (Open Quantum Safe)
Comment[ml]=ഇന്റര്‍‌നെറ്റ് ആക്‌സസ് ചെയ്യുക (Open Quantum Safe)
Comment[mr]=इंटरनेटमध्ये प्रवेश करा (Open Quantum Safe)
Comment[nb]=Gå til Internett (Open Quantum Safe)
Comment[nl]=Verbinding maken met internet (Open Quantum Safe)
Comment[or]=ଇଣ୍ଟର୍ନେଟ୍ ପ୍ରବେଶ କରନ୍ତୁ (Open Quantum Safe)
Comment[pl]=Skorzystaj z internetu (Open Quantum Safe)
Comment[pt]=Aceder à Internet (Open Quantum Safe)
Comment[pt_BR]=Acessar a internet (Open Quantum Safe)
Comment[ro]=Accesaţi Internetul (Open Quantum Safe)
Comment[ru]=Доступ в Интернет (Open Quantum Safe)
Comment[sk]=Prístup do siete Internet (Open Quantum Safe)
Comment[sl]=Dostop do interneta (Open Quantum Safe)
Comment[sr]=Приступите Интернету (Open Quantum Safe)
Comment[sv]=Gå ut på Internet (Open Quantum Safe)
Comment[ta]=இணையத்தை அணுகுதல் (Open Quantum Safe)
Comment[te]=ఇంటర్నెట్‌ను ఆక్సెస్ చెయ్యండి (Open Quantum Safe)
Comment[th]=เข้าถึงอินเทอร์เน็ต (Open Quantum Safe)
Comment[tr]=İnternet'e erişin (Open Quantum Safe)
Comment[uk]=Доступ до Інтернету (Open Quantum Safe)
Comment[vi]=Truy cập Internet (Open Quantum Safe)
Comment[zh_CN]=访问互联网 (Open Quantum Safe)
Comment[zh_HK]=連線到網際網路 (Open Quantum Safe)
Comment[zh_TW]=連線到網際網路 (Open Quantum Safe)
Exec=chromium %U
StartupNotify=true
Terminal=false
Icon=chromium
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/webcal;x-scheme-handler/mailto;x-scheme-handler/about;x-scheme-handler/unknown
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Name[am]=አዲስ መስኮት
Name[ar]=نافذة جديدة
Name[bg]=Нов прозорец
Name[bn]=নতুন উইন্ডো
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[el]=Νέο Παράθυρο
Name[en_GB]=New Window
Name[es]=Nueva ventana
Name[et]=Uus aken
Name[fa]=پنجره جدید
Name[fi]=Uusi ikkuna
Name[fil]=New Window
Name[fr]=Nouvelle fenêtre
Name[gu]=નવી વિંડો
Name[hi]=नई विंडो
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[iw]=חלון חדש
Name[ja]=新規ウインドウ
Name[kn]=ಹೊಸ ವಿಂಡೊ
Name[ko]=새 창
Name[lt]=Naujas langas
Name[lv]=Jauns logs
Name[ml]=പുതിയ വിന്‍ഡോ
Name[mr]=नवीन विंडो
Name[nl]=Nieuw venster
Name[no]=Nytt vindu
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova janela
Name[ro]=Fereastră nouă
Name[ru]=Новое окно
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sr]=Нови прозор
Name[sv]=Nytt fönster
Name[sw]=Dirisha Jipya
Name[ta]=புதிய சாளரம்
Name[te]=క్రొత్త విండో
Name[th]=หน้าต่างใหม่
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[vi]=Cửa sổ Mới
Name[zh_CN]=新建窗口
Name[zh_TW]=開新視窗
Exec=chromium

[Desktop Action new-private-window]
Name=New Incognito Window
Name[ar]=نافذة جديدة للتصفح المتخفي
Name[bg]=Нов прозорец „инкогнито“
Name[bn]=নতুন ছদ্মবেশী উইন্ডো
Name[ca]=Finestra d'incògnit nova
Name[cs]=Nové anonymní okno
Name[da]=Nyt inkognitovindue
Name[de]=Neues Inkognito-Fenster
Name[el]=Νέο παράθυρο για ανώνυμη περιήγηση
Name[en_GB]=New Incognito window
Name[es]=Nueva ventana de incógnito
Name[et]=Uus inkognito aken
Name[fa]=پنجره جدید حالت ناشناس
Name[fi]=Uusi incognito-ikkuna
Name[fil]=Bagong Incognito window
Name[fr]=Nouvelle fenêtre de navigation privée
Name[gu]=નવી છુપી વિંડો
Name[hi]=नई गुप्त विंडो
Name[hr]=Novi anoniman prozor
Name[hu]=Új Inkognitóablak
Name[id]=Jendela Penyamaran baru
Name[it]=Nuova finestra di navigazione in incognito
Name[iw]=חלון חדש לגלישה בסתר
Name[ja]=新しいシークレット ウィンドウ
Name[kn]=ಹೊಸ ಅಜ್ಞಾತ ವಿಂಡೋ
Name[ko]=새 시크릿 창
Name[lt]=Naujas inkognito langas
Name[lv]=Jauns inkognito režīma logs
Name[ml]=പുതിയ വേഷ പ്രച്ഛന്ന വിന്‍ഡോ
Name[mr]=नवीन गुप्त विंडो
Name[nl]=Nieuw incognitovenster
Name[no]=Nytt inkognitovindu
Name[pl]=Nowe okno incognito
Name[pt]=Nova janela de navegação anónima
Name[pt_BR]=Nova janela anônima
Name[ro]=Fereastră nouă incognito
Name[ru]=Новое окно в режиме инкогнито
Name[sk]=Nové okno inkognito
Name[sl]=Novo okno brez beleženja zgodovine
Name[sr]=Нови прозор за прегледање без архивирања
Name[sv]=Nytt inkognitofönster
Name[ta]=புதிய மறைநிலைச் சாளரம்
Name[te]=క్రొత్త అజ్ఞాత విండో
Name[th]=หน้าต่างใหม่ที่ไม่ระบุตัวตน
Name[tr]=Yeni Gizli pencere
Name[uk]=Нове вікно в режимі анонімного перегляду
Name[vi]=Cửa sổ ẩn danh mới
Name[zh_CN]=新建隐身窗口
Name[zh_TW]=新增無痕式視窗
Exec=chromium --incognito
