version: ~> 1.0
#import: nix-community/nix-travis-ci:nix.yml@main
language: nix
nix: 2.3.16
sudo: false

env:
  global:
  - CACHIX_CACHE=gricad
  - NUR_REPO=gricad
  - secure: "xLNFxjZ8jvCjwAaN/vz6PUoAeceHEHg35Gy2+v+PeHsj0qagJJ4AOlgQkBZjPM3cu+vk8URqaGOP5HNDiLSdQRyX8XO/tFmqzueeJm/IrUYLuWvFKegR4FTjqbe2FSBVt3LZVsLqBhpnXk0RFnozz9zhQqYBIy1KvnsgLUfxWGkN/33Tb+vQmfV8zFMfmD1H1xNnMaoFIIeY8O+smKIQvLTQNtXGA3Dj1aNaP4lD4L4DUBjhrDno3CpbNvynesYbta/GafIhiUi/KvxgxtYc3dU0Gpk2OK8gghsXUFkAdKxt05LMvxkauJuSbVb/v6T9fnsPXetvpZhXwJSJDcl6AxjPknCgUj6zgJS2q0wQg+Txz2/J0lynERs+a64vx446+14wzbbPnSUtMtH0vUz1SHei4uZQJeYsC8z9S/N3IjIb0QH2QGtGY43ZofLOLpyU5Mxa/Yg7bM+bzNOXhm1yX5MNbGwEO0jsVsxC5QoULQyG4RocmAFxnKiOxKhBT8tbgIqnIf0Lpp7jwp9RnLiXGIIpFwTMNxPibWeOqDHzA5gaFOyKJ7cmzANHNeZoCQ1TkHTxJMQ7BeRRssKyiAP+8elLIB/NIRU6WFhf7OiOibYFr1wOCH052V/83BSBGpSuW8PfJJ37WZxHMtCBZb21tof7204nF2wJZ7aUuS1ScxU="

install:
- nix --version
- echo "trusted-users = $USER" | sudo tee -a /etc/nix/nix.conf
- echo "sandbox = true" | sudo tee -a /etc/nix/nix.conf
- echo "require-sigs = false" | sudo tee -a /etc/nix/nix.conf
- echo "trusted-substituters = http://nix-binary-cache.u-ga.fr/nix.cache https://cache.nixos.org https://gricad.cachix.org" | sudo tee -a /etc/nix/nix.conf
- echo "substituters = http://nix-binary-cache.u-ga.fr/nix.cache https://cache.nixos.org https://gricad.cachix.org" | sudo tee -a /etc/nix/nix.conf
- cat /etc/nix/nix.conf
- sudo systemctl restart nix-daemon.service

script:
- export NIX_PATH=nixpkgs=channel:nixos-21.05
- export NIXPKGS_ALLOW_UNFREE=1
- set -o pipefail
- nix-build ci.nix -A buildOutputs
- nix eval -f default.nix 'lib'
- nix eval -f default.nix 'modules'
- nix eval -f default.nix 'overlays'

after_success:
- if [ -n "${CACHIX_CACHE}" ]; then nix-build ci.nix -A cacheOutputs | cachix push
  "${CACHIX_CACHE}"; fi
- if [[ NUR_REPO != "gricad" && "cron" != "${TRAVIS_EVENT_TYPE}" && "false" = "${TRAVIS_PULL_REQUEST}" && "master" = "${TRAVIS_BRANCH}" ]]; then
        curl -XPOST "https://nur-update.herokuapp.com/update?repo=${NUR_REPO}"; fi

