name: Livecd
on:
  workflow_dispatch:

jobs:
  format:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Build Livecd
        run: |
          ls -lha
          nix build '.?rev=$(cat .git/refs/heads/trival)#nixosConfigurations.livecd.config.system.build.isoImage' --show-trace -L
      - name: Compress Build Craft
        run: |
          tar cvf "./$(date -I).tar" ./result/*
      - uses: actions/upload-artifact@v4
        with:
          path: ./*.tar
          overwrite: true
          retention-days: 7days
