jobs:
  check:
    name: format check
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v26

      - name: flake check
        run: |
          nix flake check
        shell: bash

name: lint
on: 
  pull_request:
    branches: ["*"]
  push:
    branches: ["main", "trival"]
          

