*~
result*
hostname
*.retry
assets/machines.nix
docs/sitemap.org
tools/emacs/emacs.pdmp
tools/emacs/recentf
qemu
accounts.nix
assets/*
private/*
secrets/*
networking.nix
.secrets
hardware-configuration.nix
/key.bin
