*~
result*
hostname
*.retry
docs/sitemap.org
tools/emacs/emacs.pdmp
tools/emacs/recentf
tools/emacs/elpa
qemu
accounts.nix
assets/*
private/*
secrets/wireguard/*
secrets/archive/*
networking.nix
.secrets
hardware-configuration.nix
/key.bin
/tools/emacs/nix-buffer/
/tools/emacs/var/backup
*.qcow2