# This is a basic workflow to help you get started with Actions

name: Cache packages

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
 schedule:
   - cron: 0 0 * * */7
 workflow_dispatch:
 push:
    branches: [ master ]
    paths: 
      - 'pkgs/**'
      - '.github/workflows/cachix.yml'


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v3
    
    - name: Remove some excess files
      run: sudo rm -rf /opt /usr/local || true

    - name: Install Nix
      uses: cachix/install-nix-action@v17
      with:
        nix_path: nixpkgs=channel:nixos-unstable
        extra_nix_config: |
          trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs=
          substituters = https://hydra.iohk.io https://cache.nixos.org/ https://nix-community.cachix.org
    
    - name: Install cachix
      uses: cachix/cachix-action@v10
      with:
        name: crazazy
        signingKey: '${{ secrets.CACHIX_KEY }}'
      
    - name: Build packages
      run: |
        nix-build pkgs/default.nix
        # the emacs distribution is hidden from the package set as nur can't evaluate
        # the package repository without it
        nix-build pkgs/default.nix -A hidden

    - name: Build system
      run: nix-build ./nix/default.nix -A nixos
