name: "Build and populate cache"
on:
  workflow_dispatch:
  workflow_call:
  pull_request:
  push:
    branches:
      - main
      - master
    paths:
      - '**.nix'
      - '**.sh'
      - '.github/workflows/build.yml'
      - '**.patch'
      - '**.json'
      - '**.lock'

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        arch:
          - x86_64
          - aarch64
    runs-on: ubuntu-latest
    steps:
    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@main
      with:
        # this might remove tools that are actually needed,
        # if set to "true" but frees about 6 GB
        tool-cache: false

        # all of these default to true, but feel free to set to
        # "false" if necessary for your workflow
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        docker-images: true
        swap-storage: true

    - name: Checkout repository
      uses: actions/checkout@v4

    - uses: DeterminateSystems/nix-installer-action@main
    - uses: DeterminateSystems/magic-nix-cache-action@main
    - uses: DeterminateSystems/flake-checker-action@main

    - name: Print flake metadata
      run: nix flake metadata --accept-flake-config

    - name: Setup cachix (x86_64)
      if: ${{ matrix.arch == 'x86_64' }}
      uses: cachix/cachix-action@v15
      with:
        name: cryolitia
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        extraPullNames: nix-community, cuda-maintainers

    - name: Setup cachix (aarch64)
      if: ${{ matrix.arch == 'aarch64' }}
      uses: cachix/cachix-action@v15
      with:
        name: cryolitia
        extraPullNames: nix-community

    - name: Build x86_64 nix packages
      if: ${{ matrix.arch == 'x86_64' }}
      run: nix run nixpkgs#nix-build-uncached -- ./nix/ci.nix

    - name: Build aarch64 nix packages
      if: ${{ matrix.arch == 'aarch64' }}
      run: nix run nixpkgs#nix-build-uncached -- ./nix/ci_aarch64.nix

    - name: Trigger NUR update
      run: curl -XPOST "https://nur-update.nix-community.org/update?repo=Cryolitia"
