a {
  s1: (1 / 2);
  s2: (1 / 3);
  s3: (1 / 4);
  s4: (1 / 5);
  s5: (1 / 6);
  s6: (1 / 7);
  s7: (1 / 8);
  c1: lighten(#800, 1%);
  c2: lighten(#800, 2%);
  c3: lighten(#800, 3%);
  c4: lighten(#800, 4%);
  c5: lighten(#800, 5%);
  c6: lighten(#800, 6%);
  c7: lighten(#800, 7%);
}
