name: "Update source and create PR"
on:
  schedule:
    - cron:  '0 3,15 * * *'
  workflow_dispatch:
jobs:
  updates:
    runs-on: ubuntu-latest
    steps:
    - name: Generate GitHub App Token
      id: app-token
      uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
      with:
        app-id: ${{ secrets.APP_ID }}
        private-key: ${{ secrets.APP_PRIVATE_KEY }}
    - name: Checkout repository
      uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v4.2.2
      with:
        token: ${{ steps.app-token.outputs.token }}
        persist-credentials: false
    - name: Install nix
      uses: cachix/install-nix-action@456688f15bc354bef6d396e4a35f4f89d40bf2b7 # v31.8.2
      with:
        nix_path: nixpkgs=channel:nixos-unstable
        extra_nix_config: |
          experimental-features = nix-command flakes
    - name: Setup cachix
      uses: cachix/cachix-action@v15
      # Don't replace <YOUR_CACHIX_NAME> here!
      with:
        name: 'auscyber'
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    - name: Update sources
      run: nix run github:berberman/nvfetcher
    - name: update docs
      run: nix run .#docs
    - name: Create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
      with:
        token: ${{ steps.app-token.outputs.token }}
        commit-message: "update source"
        title: "update source"
        branch: update-nvfetcher
        sign-commits: true
    - name: Enable auto-merge
      if: steps.cpr.outputs.pull-request-number
      run: |
        gh pr merge --auto --merge "${{ steps.cpr.outputs.pull-request-number }}"
      env:
        GH_TOKEN: ${{ steps.app-token.outputs.token }}
