---
"on":
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        nixpkgs:
          - nixos-unstable
          - nixpkgs-unstable
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:${{ matrix.nixpkgs }}
          extra_nix_config: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: Setup cachix
        uses: cachix/cachix-action@v16
        with:
          name: freed-wu
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Build nix packages
        run: |
          nix-instantiate --eval -E '(import <nixpkgs> {}).lib.version'
          nix run 'nixpkgs#nix-build-uncached' -- ci.nix -A cacheOutputs
      - name: Trigger NUR update
        if: github.ref == 'refs/heads/main'
        run: |
          curl -XPOST \
          "https://nur-update.nix-community.org/update?repo=Freed-Wu"
