/*
 * Attach tabs
 */

:root {
  --tab-border-radius: 0 !important;
  --tab-context-line-block-offset: 0 !important;
  --tab-context-line-inline-offset: 0 !important;
  --tab-margin-block: 0 !important;
  --tab-min-height: calc(28px + 4px * 2) !important; /* tab-min-height + tab-margin-block * 2 */
  --tab-overflow-clip-margin: 0 !important;
}

.tab-context-line {
  border-radius: 0 !important;
}

.titlebar-spacer {
  max-width: var(--toolbar-padding-inline);
}

/*
 * Hide unused buttons
 */

.tab-close-button {
  display: none;
}

/*
 * Deemphasize colored buttons
 */

#star-button[starred] {
  filter: grayscale(1) brightness(2);
}

#ublock0_raymondhill_net-browser-action .toolbarbutton-icon {
  filter: grayscale(1) brightness(2) contrast(1.2);
}

/*
 * Override font
 */

#userContext-label,
.tab-text {
  font-family: Affine, Roboto;
}
