name: 'Build and populate cache'
on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '5 3 * * *'  # Rebuild every day at 03:05
jobs:
  build:
    strategy:
      matrix:
        nixPath:
          - nixpkgs=channel:nixpkgs-unstable
          - nixpkgs=channel:nixos-unstable
          - nixpkgs=channel:nixos-23.11
          - nixpkgs=channel:nixos-24.05
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup nix
        uses: cachix/install-nix-action@v26
        with:
          nix_path: "${{ matrix.nixPath }}"
          extra_nix_config: |
            experimental-features = nix-command flakes
      - name: Show nixpkgs version
        run: nix-instantiate --eval -E '(import <nixpkgs> {}).lib.version'
      - name: Setup Attic cache
        uses: ryanccn/attic-action@v0
        with:
          endpoint: https://attic.bismuth.it
          cache: kokakiwi
          token: ${{ secrets.ATTIC_TOKEN }}
      - name: Check evaluation
        run: |
          nix-env -f . -qa \* --meta --xml \
            --allowed-uris https://static.rust-lang.org \
            --option restrict-eval true \
            --option allow-import-from-derivation true \
            --drv-path --show-trace \
            -I nixpkgs=$(nix-instantiate --find-file nixpkgs) \
            -I $PWD
      - name: Build nix packages
        run: nix shell -f '<nixpkgs>' nix-build-uncached -c nix-build-uncached ci.nix -A cacheOutputs
  trigger-nur:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Trigger NUR update
        run: curl -X POST 'https://nur-update.nix-community.org/update?repo=kokakiwi'
