[Desktop Entry]
Name=org-protocol
Exec=emacsclient -c -n %u
Type=Application
Terminal=false
Categories=System;
MimeType=x-scheme-handler/org-protocol;
