name: "Build"

on:
  push:
  schedule:
    - cron: "40 6 * * *" # everyday at 6:40
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Install nix
      uses: cachix/install-nix-action@v31
      with:
        extra_nix_config: |
          experimental-features = nix-command flakes
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

    - name: Setup cachix
      uses: cachix/cachix-action@v16
      with:
        name: mrtnvgr
        signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
        authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

    - name: Build nix packages
      env:
        NIXPKGS_ALLOW_UNFREE: 1
      run: nix flake check --impure

    - name: Trigger NUR update
      run: curl -XPOST "https://nur-update.nix-community.org/update?repo=mrtnvgr"
