#!/bin/sh
# No UV related function on direnv
watch_file devenv.nix pyproject.toml uv.lock
use flake path:. --impure

# This is a devenv assumption
VENV_PATH=".devenv/state/venv"
[ ! -d "$VENV_PATH" ] && uv venv
# Edit this based on your shell
source_env "$VENV_PATH/bin/activate"
