shell = "/bin/sh"
tools = [ "gorin", "nix", "uv" ]

[parameters.NIXELEM]
description = "INTENDED TO USE WITH *-nix"
comparator = "unset"
value = ""

[targets.makefile]
prerequisites = [ "check_dependencies" ]
commands = "@gorin makefile > Makefile"

[targets.build-nix]
prerequisites = [ "check_dependencies" ]
commands = "nix build .#$(NIXELEM)"

[targets.run-nix]
prerequisites = [ "check_dependencies" ]
commands = "nix run .#$(NIXELEM)"

[targets.flake-show]
prerequisites = [ "check_dependencies" ]
commands = "nix flake show --impure"

[targets.build]
prerequisites = [ "check_dependencies" ]
commands = "@uv build"

[targets.lock]
prerequisites = [ "check_dependencies" ]
commands = "@uv lock"

[targets.sync]
prerequisites = [ "check_dependencies" ]
commands = "@uv sync"

[targets.install-deps]
prerequisites = [ "check_dependencies" ]
commands = "@uv pip install -r pyproject.toml"
