/* style docs: https://github.com/Alexays/Waybar/wiki/Styling */
/* defaults: https://github.com/Alexays/Waybar/blob/master/resources/style.css */

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

window#waybar {
  background-color: #418379;
  border-bottom: 0px solid #1f5e54;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .2s;
  font-size: @fontSize@px;
}

.modules-right {
  /* workspace buttons (LHS) get padding between it and the screen edge */
  /* replicate that same padding for whatever's on the RHS (i.e. the clock) */
  margin-right: 5px;
}
#workspaces button {
  padding: 0 5px;
  background-color: #418379;
  color: #ffffff;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 0px #1f5e54;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
  /* keep min-width set here even if it has no apparent effect */
  /* many gtk themes override it to something large, which doesn't seem appropriate for this context */
  /* the default adwaita theme uses min-width: 16px */
  min-width: 16px;
}

#workspaces button:hover {
  /* i don't want hover effects, so reset this styling to be the same as default button */
  /* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
  background: inherit;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  background-color: #63a89c;
  box-shadow: inset 0 0px #2c8274;
}

#workspaces button.urgent {
  /* keep synchronized with `client.urgent` in ~/.config/sway/config */
  background-color: #ff968b;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-media,
#custom-swaync,
#custom-sxmo,
#custom-sxmo-sane,
#disk,
#idle_inhibitor,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#mpd {
  /* without padding the text/icons are unreadable */
  padding: 0 10px;
  /* need fixed-width for cpu/net/mem meaurements which change frequently */
  font-family: monospace;
  border-left: 1px solid #1f5e54;
}

#battery.critical:not(.charging) {
  background-color: #e64291;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray {
  background-color: #418379;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #e64291;
}

@extraStyle@
