[submodule "submodules/nix-writers"]
	path = submodules/nix-writers
	url = https://cgit.lassul.us/nix-writers
[submodule "submodules/krops"]
	path = submodules/krops
	url = https://cgit.krebsco.de/krops
