name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: # allows manual triggering

concurrency:
  group: build
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - uses: wimpysworld/nothing-but-nix@v6
        with:
          hatchet-protocol: "rampage"

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            accept-flake-config = true

      - name: Set up Cachix
        uses: cachix/cachix-action@v16
        with:
          name: ccicnce113424 # replace with your Cachix cache name
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build
        run: |
          nix-build ci.nix -A cacheOutputs
