init.el linguist-generated=true
config.nix linguist-generated=true
default.nix linguist-generated=true
bootstrap.sh linguist-generated=true
update.sh linguist-generated=true
.gitattributes linguist-generated=true
.gitignore linguist-generated=true
*.png filter=lfs diff=lfs merge=lfs -text
