name: 'Build and populate cache'
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
permissions:
  actions: write
  contents: write
jobs:
  test-nur-eval:
    runs-on: ubuntu-latest
    env:
      GIT_SSL_NO_VERIFY: 'true'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:latest
          platforms: all
      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command flakes ca-derivations
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            extra-platforms = i686-linux aarch64-linux arm-linux
      - name: Build nix packages
        run: |
          nix run .#nur-check

  check-package-meta:
    runs-on: ubuntu-latest
    env:
      GIT_SSL_NO_VERIFY: 'true'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:latest
          platforms: all
      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command flakes ca-derivations
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            extra-platforms = i686-linux aarch64-linux arm-linux
      - name: Build nix packages
        run: |
          tools/check_package_meta.py

  update-nur:
    runs-on: ubuntu-latest
    needs:
      - test-nur-eval
      - check-package-meta
    steps:
      - name: Trigger NUR update
        run: curl -XPOST "https://nur-update.nix-community.org/update?repo=xddxdd"

  update-flakehub:
    runs-on: ubuntu-latest
    needs:
      - test-nur-eval
      - check-package-meta
    permissions:
      id-token: 'write'
      contents: 'read'
    steps:
      - uses: 'actions/checkout@v6'
      - uses: 'DeterminateSystems/nix-installer-action@main'
      - uses: 'DeterminateSystems/flakehub-push@main'
        with:
          name: 'xddxdd/nur-packages'
          rolling: true
          visibility: 'public'
