@define-color base00 #%base00%;
@define-color base01 #%base01%;
@define-color base02 #%base02%;
@define-color base03 #%base03%;
@define-color base04 #%base04%;
@define-color base05 #%base05%;
@define-color base06 #%base06%;
@define-color base07 #%base07%;
@define-color base08 #%base08%;
@define-color base09 #%base09%;
@define-color base0A #%base0A%;
@define-color base0B #%base0B%;
@define-color base0C #%base0C%;
@define-color base0D #%base0D%;
@define-color base0E #%base0E%;
@define-color base0F #%base0F%;

* {
    transition: none;
    box-shadow: none;
}

#waybar {
    /* font-family: 'Source Code Pro', sans-serif; */
    /* font-family: 'Apple Color Emoji', sans-serif; */
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: @base04;
    background: transparent;
}

#workspaces button.visible {
}

#workspaces button {
    background-color: @base02;
    opacity: 0.5;
}

#workspaces button.active {
    opacity: 0.8;
}

#workspaces button.urgent {
    background-color: @base08;
}

#tray, #mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-updates, #custom-weather, #custom-mail, #clock, #temperature, #window {
    background-color: @base02;
    opacity: 0.8;
    border-radius: 4px;
    min-width: 20px;
    margin: 2px;
    padding: 4px;
}

#window.empty {
    /* background-color: transparent; */
    opacity: 0.4;
    border-radius: 0;
    min-width: 0;
    padding: 0;
}

#clock {
    margin-left: 0px;
    margin-right: 4px;
}

#pulseaudio.muted {
    color: @base0F;
}

#pulseaudio.bluetooth {
    color: @base0C;
}
#temperature.critical {
    color: @base0F;
}

