[Desktop Entry]
Name=org-protocol
Exec=emacsclient -s /run/user/1000/emacs/org -n %u
Type=Application
Terminal=false
Categories=System;
MimeType=x-scheme-handler/org-protocol;
