{{- range $name, $tool := .root.lazy_tools }}
{{- $bins := $tool.bins }}
{{- if eq (len $bins) 0 }}
  {{- $binName := $tool.alias }}
  {{- if not $binName }}
    {{- $parts := split $name ":" }}
    {{- $binName = last $parts }}
    {{- $parts = split $binName "/" }}
    {{- $binName = last $parts }}
  {{- end }}
  {{- $bins = list $binName }}
{{- end }}
{{- range $bins }}
{{- file . "0755" }}
#!/usr/bin/env bash
set -euo pipefail

{{- $locked := lockTool $name }}
{{- if $locked }}
# locked: {{ $locked.ref }}@{{ $locked.version }}
{{- end }}

_workspaced="{{ home }}/.local/bin/workspaced"
_tool_name="{{ $name }}"
_bin_name="{{ . }}"

exec "$_workspaced" open lazy --home --bin "$_bin_name" "$_tool_name" -- "$@"
{{- endfile }}
{{- end }}
{{- end }}
