shell = "/bin/sh"
tools = ["gorin", "nix", "nixos-rebuild"]

[parameters.SERVER]
description = "Server to build"
comparator = "unset"
value = ""

[parameters.BUILD_HOST]
description = "info of the build host (used with build-remote)"
comparator = "unset"
value = ""

[parameters.BUILD_HOST_PORT]
description = "ssh port of build host"
comparator = "unset"
value = "22"

[parameters.PROFILE]
description = "profile to set boot entry (used with boot-p)"
comparator = "unset"
value = ""

[parameters.SPECIALISATION]
description = "specialisation to build (used with test-s)"
comparator = "unset"
value = ""

[parameters.INPUT]
description = "input to update (used with update)"
comparator = "unset"
value = ""

[targets.makefile]
prerequisites = [ "check_dependencies" ]
commands = "@gorin makefile > Makefile"

[targets.test]
description = "Tests generation"
prerequisites = [ "check_dependencies" ]
commands = "doas nixos-rebuild test --flake .#$(SERVER)"

[targets.test-s]
description = "Tests specialisation"
prerequisites = [ "check_dependencies" ]
commands = "doas nixos-rebuild test --flake .#$(SERVER) --specialisation $(SPECIALISATION)"

[targets.switch]
description = "Switches generation"
prerequisites = [ "check_dependencies" ]
commands = "doas nixos-rebuild switch --flake .#$(SERVER)"

[targets.boot]
description = "Create boot entry"
prerequisites = [ "check_dependencies" ]
commands = "doas nixos-rebuild boot --flake .#$(SERVER)"

[targets.boot-p]
description = "Create boot entry with profile"
prerequisites = [ "check_dependencies" ]
commands = "doas nixos-rebuild boot --flake .#$(SERVER) -p $(PROFILE)"

[targets.build]
description = "Builds system"
prerequisites = [ "check_dependencies" ]
commands = "nixos-rebuild build --flake .#$(SERVER)"

[targets.build-remote]
description = "Builds system on a remote server"
prerequisites = [ "check_dependencies" ]
commands = """
NIX_SSHOPTS="-i ~/.ssh/Keys/id -p $(BUILD_HOST_PORT)" nixos-rebuild build --flake .#$(SERVER) --build-host $(BUILD_HOST)
"""

[targets.update]
description = "Updates flake input"
prerequisites = [ "check_dependencies" ]
commands = "nix flake update $(INPUT)"
