name: "Build and populate cache"
on:
    pull_request:
    push:
        branches:
            - main
        paths:
            - "pkgs/**"
    workflow_dispatch:
    workflow_run:
        workflows: ["Auto update packages"]
        types:
            - completed
permissions:
    contents: read
    actions: write
jobs:
    build:
        if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
        timeout-minutes: 360
        strategy:
            fail-fast: false
            matrix:
                include:
                    - label: x86_64-linux
                      image: ubuntu-latest
                    - label: aarch64-linux
                      image: ubuntu-24.04-arm
                      system: aarch64-linux
                    - label: aarch64-darwin
                      image: macos-latest
                      system: aarch64-darwin
        name: ${{ matrix.label }}
        runs-on: ${{ matrix.image }}
        permissions:
            contents: write
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Prepare Nix Environment
              uses: ./.github/prepare-nix
              with:
                  GH_PAT: ${{ secrets.GH_PAT }}
                  ATTIC_TOKEN: ${{ secrets.ATTIC_TOKEN }}
                  ATTIC_SERVER: ${{ vars.ATTIC_SERVER }}
                  ATTIC_CACHE: ${{ vars.ATTIC_CACHE }}

            - name: Check evaluation
              run: |
                  nix-env -f . -qa \* --meta \
                      --allowed-uris https://static.rust-lang.org \
                      --option restrict-eval true \
                      --option allow-import-from-derivation true \
                      --drv-path --show-trace \
                      -I nixpkgs=$(nix-instantiate --find-file nixpkgs) \
                      -I ./ \
                      --json | jq -r 'values | .[].name'

            - name: Build with nix-fast-build
              run: |
                  nix-fast-build --flake .#ciPackages.${{ matrix.label }} \
                    --system ${{ matrix.label }} \
                    --no-nom --skip-cached \
                    --attic-cache ${{ vars.ATTIC_CACHE }} \
                    --option accept-flake-config true
    finish:
        runs-on: ubuntu-latest
        needs: build
        if: success()
        steps:
            - name: Trigger NUR update
              run: |
                  curl -XPOST "https://nur-update.nix-community.org/update?repo=moraxyc"
