# SPDX-FileCopyrightText: 2023 Sefa Eyeoglu <contact@scrumplex.net>
#
# SPDX-License-Identifier: MIT

name: Update

on:
    schedule:
        - cron: "0 0 * * *"
    workflow_dispatch:

jobs:
    update-and-commit:
        runs-on: ubuntu-24.04

        steps:
            - uses: actions/checkout@v5
            - uses: cachix/install-nix-action@v31
              with:
                  nix_path: nixpkgs=channel:nixos-unstable

            - name: Set Git user info
              run: |
                  git config user.name 'github-actions[bot]'
                  git config user.email 'github-actions[bot]@users.noreply.github.com'

            - name: Update flake lock and update all packages using nix-update
              run: |
                  nix develop --command update

            - uses: EndBug/add-and-commit@v9
              with:
                  default_author: github_actions
                  message: "chore: update"
