name: Update packages

on:
    workflow_dispatch:
    schedule:
        - cron: "0 0 * * *"

permissions:
    contents: write

jobs:
    update:
        name: Update flake.lock, fetch packages, and update README
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: DeterminateSystems/nix-installer-action@main

            - name: Update lockfile
              run: nix flake update --commit-lock-file

            - name: Fetch packages and update README
              run: |
                  export LANG=en_US.UTF-8
                  export LC_ALL=en_US.UTF-8
                  nix develop --command nvfetcher
                  nix develop --command uv run update-readme.py

            - name: Commit and push
              uses: EndBug/add-and-commit@v9
              with:
                  message: "chore: update"
