name: Update packages

on:
    workflow_dispatch:
    schedule:
        - cron: "0 0 * * *"

permissions:
    contents: write

jobs:
    nix-flake-update:
        name: Update flake.lock
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: DeterminateSystems/nix-installer-action@main

            - name: Update lockfile
              run: nix flake update

    update-packages:
        name: Update packages and README
        runs-on: ubuntu-latest
        needs: nix-flake-update
        steps:
            - uses: actions/checkout@v5
            - uses: DeterminateSystems/nix-installer-action@main
            - uses: nicknovitski/nix-develop@v1.2.1

            - name: Fetch packages and update README
              run: |
                  nvfetcher
                  uv run update-readme.py

            - name: Commit and push
              uses: EndBug/add-and-commit@v9
              with:
                  message: "chore: update"
