spawn-at-startup "noctalia"
spawn-at-startup "fcitx5" "-d" "--replace"
spawn-at-startup "clipse" "-listen"
spawn-at-startup "niriusd"

prefer-no-csd

environment {
    DISPLAY ":0"
}

output "eDP-1" {
    position x=0 y=0
    mode "3072x1920@120.002"
    scale 2.0
    variable-refresh-rate
    focus-at-startup
}

output "HDMI-A-1" {
    variable-refresh-rate
    position x=1536 y=0
    mode "3840x2160@120.000"
    scale 2.0
}

input {
    keyboard {
        xkb {
            layout "us"
            options "grp:win_space_toggle"
        }
    }
    touchpad {
        tap
        drag-lock
        natural-scroll
        accel-speed 0.2
    }

    mouse {
        accel-speed -0.2
    }
    focus-follows-mouse max-scroll-amount="10%"
}

hotkey-overlay { skip-at-startup; }

layout {
    gaps 8
    center-focused-column "never"
    empty-workspace-above-first
    background-color "transparent"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { }
    focus-ring {
        width 2
        active-color "rgb(255, 127, 0)"
        inactive-color "#505050"
    }
    border {
        off
    }
    shadow {
        on
    }
    insert-hint {
        color "#ffc87f80"
        gradient from="#ffbb6680" to="#ffc88080" angle=45 relative-to="workspace-view"
    }
    struts {
        left 16
        right 16
        top 0
        bottom 0
    }
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}

layer-rule {
    match namespace="^hyprpaper$"
    match namespace="^quickshell$"
    match namespace="^noctalia-wallpaper"
    place-within-backdrop true
}

overview {
    workspace-shadow {
        off
    }
}

window-rule {
    default-column-width {}
    clip-to-geometry true
    geometry-corner-radius 8
    draw-border-with-background false
}


window-rule {
    match app-id=r#"firefox$"# title="^(Picture-in-Picture|Library)$"
    match app-id=r#"MEGAsync"#
    match app-id=r#"^org\.gnome\.NautilusPreviewer$"#
    match app-id=r#"clipse"#
    match app-id=r#"org.gnome.Loupe"#
    open-floating true
}

/-window-rule {
    match app-id=r#"dev\.zed\.Zed"#
    block-out-from "screencast"
    open-floating true
    input-pass-through false
    open-focused false
    focusable false
    shadow{
        off
    }
    focus-ring {
        off
    }
     border {
        off
    }
    opacity 0.55
}
/-screenshot-notification{
  off
}

window-rule {
    match app-id=r#"io.github.waylyrics.Waylyrics"#
    open-floating true
    focus-ring {
        off
    }
     border {
        off
    }
    shadow{
        off
    }
    clip-to-geometry true
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return repeat=false { spawn "kitty"; }
    Mod+K repeat=false hotkey-overlay-title="Quick Access Terminal" { spawn "kitten" "quick-access-terminal"; }
    Mod+E { spawn "nautilus" "-w"; }
    Mod+R repeat=false { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
    Mod+A repeat=false { toggle-overview; }
    Mod+V repeat=false { spawn "noctalia-shell" "ipc" "call" "launcher" "clipboard"; }
    Mod+P { spawn "nirius" "toggle-follow-mode"; }

    XF86AudioRaiseVolume  allow-when-locked=true { spawn "noctalia" "msg" "volume-up"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn "noctalia" "msg" "volume-down"; }
    XF86AudioMute         allow-when-locked=true { spawn "noctalia" "msg" "volume-mute"; }
    XF86AudioMicMute      allow-when-locked=true { spawn "noctalia" "msg" "mic-mute"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn "noctalia" "msg" "brightness-up"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "noctalia" "msg" "brightness-down"; }
    XF86Assistant { spawn "kitty"; }

    Alt+F4 { close-window; }
    Mod+Q  { close-window; }

    Mod+Tab { focus-column-right-or-first; }
    Mod+Shift+Tab { focus-column-left-or-last; }

    Mod+F {toggle-window-floating;}
    Mod+W { toggle-column-tabbed-display; }
    Mod+L {spawn "noctalia" "msg" "screen-lock" ; }

    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Right { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }

    Mod+Down              { focus-workspace-down; }
    Mod+Up              { focus-workspace-up; }
    Mod+Shift+Down              { move-window-down; }
    Mod+Shift+Up              { move-window-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Shift+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Shift+WheelScrollRight { move-column-right; }
    Mod+Shift+WheelScrollLeft  { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    //Mod+R { switch-preset-window-height; }
    Mod+S { maximize-column; }
    Mod+Shift+S { fullscreen-window; }
    Mod+C { center-column; }

    Mod+Minus { set-column-width "-12%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-11%"; }
    Mod+Shift+Equal { set-window-height "+9%"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+E { quit; }

    Mod+Shift+P { power-off-monitors; }
}

debug {
    honor-xdg-activation-with-invalid-serial
}

include "./noctalia.kdl"
