name: Build and Cache
on:
  push:
    paths:
      - "packages/**"
      - "flake.nix"
      - "flake.lock"
  workflow_dispatch:

jobs:
  build:
    name: Build ${{ matrix.package }}
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      matrix:
        package:
          - helix-gj1118
    steps:
      - uses: actions/checkout@v5

      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: cachix/cachix-action@v15
        with:
          name: nix-repository--aster-void
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build ${{ matrix.package }}
        run: nix build .#${{ matrix.package }} --print-build-logs
