name: Checks
on: push

jobs:
  format:
    name: Format
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - run: nix fmt -- --fail-on-change
  # fails for out of storage error
  # flake-check:
  #   name: Flake check
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 10
  #   steps:
  #     - uses: actions/checkout@v5
  #     - uses: cachix/install-nix-action@v31
  #     - run: nix flake check
