# Would love to use lorri, but seeing issues similar to this:
# https://github.com/target/lorri/issues/150
#eval "$(lorri direnv)"


# https://github.com/direnv/direnv/wiki/Nix
# Uncomment line below if want to automatically invoke nix-shell when entering this directory
#use_nix 
