name: checks

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  packages:
    strategy:
      fail-fast: false
      matrix:
        nix_path:
          - nixpkgs-unstable.tar.gz
          - nixos-unstable.tar.gz
          - nixos-25.05.tar.gz
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@e2fa614def25ff8e1ba97f43825b1dc198792423 # v1.8.13
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          attic_cache: nur
          shell: check

      - name: Build packages
        run: |
          nix-fast-build \
            --skip-cached \
            --no-nom \
            --override-input nixpkgs "https://github.com/NixOS/nixpkgs/archive/refs/heads/${{ matrix.nix_path }}" \
            --flake ".#packages.$(nix eval --raw --impure --expr builtins.currentSystem)"

  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@e2fa614def25ff8e1ba97f43825b1dc198792423 # v1.8.13
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          attic_cache: nur

      - name: Run flake checks
        run: nix flake check

  trigger:
    needs: [packages, flake]
    runs-on: ubuntu-latest
    steps:
      - name: Trigger NUR update
        run: curl -XPOST "https://nur-update.nix-community.org/update?repo=trev"
