name: checks

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}

permissions:
  contents: read
  id-token: write

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        image:
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - macos-26
    runs-on: ${{ matrix.image }}
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@a5ea6d41ce120b209d0a58900d2906e1f59c2698 # v1.27.2
        with:
          audience: https://niks3.trev.zip

      - name: Check flake
        run: nix flake check

      - name: Check evaluation
        run: |
          nix-env -f . -qa \* --meta --xml \
            --allowed-uris https://static.rust-lang.org \
            --option restrict-eval true \
            --option allow-import-from-derivation true \
            --drv-path --show-trace \
            -I nixpkgs=$(nix-instantiate --find-file nixpkgs) \
            -I $PWD

  build:
    strategy:
      fail-fast: false
      matrix:
        nix:
          - nixpkgs-unstable.tar.gz
          - nixos-unstable.tar.gz
        image:
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - macos-26
    runs-on: ${{ matrix.image }}
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@a5ea6d41ce120b209d0a58900d2906e1f59c2698 # v1.27.2
        with:
          audience: https://niks3.trev.zip
          shell: check

      - name: Build packages
        run: |
          nix-fast-build \
            --skip-cached \
            --no-nom \
            --override-input nixpkgs "https://github.com/NixOS/nixpkgs/archive/refs/heads/${{ matrix.nix }}" \
            --flake ".#packages.$(nix eval --raw --impure --expr builtins.currentSystem)"

  trigger:
    needs: [check, build]
    runs-on: ubuntu-latest
    steps:
      - name: Trigger NUR update
        run: curl -XPOST "https://nur-update.nix-community.org/update?repo=trev"
