name: sync

on:
  schedule:
    - cron: "9 * * * *"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Get repos.json
        run: |
          curl -o repos.json "https://raw.githubusercontent.com/nix-community/NUR/refs/heads/main/repos.json.lock"
          echo "REPOS_JSON=$(jq -c . < repos.json)" >> $GITHUB_ENV

      - name: Compare revs
        run: |
          NUR_REV='${{ fromJson(env.REPOS_JSON).repos.trev.rev }}'
          echo "nur rev: ${NUR_REV}"

          GIT_REV=$(git rev-parse HEAD)
          echo "git rev: ${GIT_REV}"

          if [[ "${NUR_REV}" != "${GIT_REV}" ]]; then
            echo "nur rev does not match git rev"
            exit 1
          fi
