name: update

on:
  schedule:
    - cron: "9 9 * * *"
  workflow_dispatch:

jobs:
  pkgs:
    runs-on: ubuntu-latest
    steps:
      - uses: spotdemo4/nur/.github/actions/init@main
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}

      - uses: spotdemo4/setup-git-app-user@51cf8f3366b74a6b7e830d1cfc63b3526a036925 # v2
        id: app-user
        with:
          app-id: ${{ vars.CLIENT_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - run: nix develop --accept-flake-config --command update

      - uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        id: cpr
        with:
          token: ${{ steps.app-user.outputs.token }}
          title: package updates
          body: updated some packages

      - name: Enable Automerge
        if: ${{ steps.cpr.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ steps.app-user.outputs.token }}
        run: >
          gh pr merge
          --rebase
          --auto
          "${{ steps.cpr.outputs.pull-request-number }}"

  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: spotdemo4/nur/.github/actions/init@main
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}

      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: token
        with:
          app-id: ${{ vars.CLIENT_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - name: Renovate
        env:
          RENOVATE_CONFIG_FILE: .github/renovate.json
          RENOVATE_TOKEN: ${{ steps.token.outputs.token }}
        run: nix develop --accept-flake-config --command renovate
