name: update

on:
  schedule:
    - cron: "0 9 * * *" # every day at 09:00 UTC
  workflow_dispatch:

concurrency:
  group: update

permissions:
  contents: read

jobs:
  pkgs-amd64-linux:
    runs-on: ubuntu-24.04
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@842337cdd1a41ced81cb88edfd632589ee53ad2d # v1.22.0
        with:
          app_id: ${{ vars.CLIENT_ID }}
          app_key: ${{ secrets.PRIVATE_KEY }}

      - name: Load update environment
        uses: nicknovitski/nix-develop@9be7cfb4b10451d3390a75dc18ad0465bed4932a # v1.2.1
        with:
          arguments: ".#update"

      - name: Create branch
        run: git checkout -B update-packages

      - name: Update packages
        run: update

      - name: Push changes
        run: git push --force origin update-packages

  pkgs-arm64-linux:
    needs: pkgs-amd64-linux
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@842337cdd1a41ced81cb88edfd632589ee53ad2d # v1.22.0
        with:
          app_id: ${{ vars.CLIENT_ID }}
          app_key: ${{ secrets.PRIVATE_KEY }}
          ref: update-packages

      - name: Load update environment
        uses: nicknovitski/nix-develop@9be7cfb4b10451d3390a75dc18ad0465bed4932a # v1.2.1
        with:
          arguments: ".#update"

      - name: Update packages
        run: update

      - name: Push changes
        run: git push origin update-packages

  pkgs-arm64-darwin:
    needs: pkgs-arm64-linux
    runs-on: macos-26
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@842337cdd1a41ced81cb88edfd632589ee53ad2d # v1.22.0
        with:
          app_id: ${{ vars.CLIENT_ID }}
          app_key: ${{ secrets.PRIVATE_KEY }}
          ref: update-packages

      - name: Load update environment
        uses: nicknovitski/nix-develop@9be7cfb4b10451d3390a75dc18ad0465bed4932a # v1.2.1
        with:
          arguments: ".#update"

      - name: Update packages
        run: update

      - name: Push changes
        run: git push origin update-packages

  pkgs-pr:
    needs: pkgs-arm64-darwin
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        name: Checkout
        uses: spotdemo4/better-checkout@9a8cc716065857724440d98bc9b2bc08be8ab4bd # v0.5.0
        with:
          app-id: ${{ vars.CLIENT_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
          fetch-depth: 0

      - id: pr
        name: Create pull request
        run: |
          url=$(gh pr create --title "package updates" --body "updated some packages" --head update-packages --base main)

          if [[ -n "${url}" ]]; then
            echo "Created PR: ${url}"
            echo "url=${url}" >> $GITHUB_OUTPUT
          else
            echo "Could not create PR"
          fi
        env:
          GH_TOKEN: ${{ steps.checkout.outputs.token }}

      - if: ${{ steps.pr.outputs.url }}
        name: Enable automerge
        run: gh pr merge --rebase --auto "${{ steps.pr.outputs.url }}"
        env:
          GH_TOKEN: ${{ steps.checkout.outputs.token }}

  renovate:
    runs-on: ubuntu-latest
    steps:
      - id: init
        name: Initialize
        uses: spotdemo4/nix-init@842337cdd1a41ced81cb88edfd632589ee53ad2d # v1.22.0
        with:
          attic_cache: nur
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          app_id: ${{ vars.CLIENT_ID }}
          app_key: ${{ secrets.PRIVATE_KEY }}
          shell: update

      - name: Renovate
        run: renovate
        env:
          RENOVATE_CONFIG_FILE: .github/renovate.json
          RENOVATE_TOKEN: ${{ steps.init.outputs.token }}
          LOG_LEVEL: ${{ runner.debug == '1' && 'debug' || 'info' }}
