name: update

on:
  schedule:
    - cron: "0 9 * * *" # every day at 09:00 UTC
  workflow_dispatch:

jobs:
  pkgs:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        id: init
        uses: spotdemo4/nix-init@e2fa614def25ff8e1ba97f43825b1dc198792423 # v1.8.13
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          attic_cache: nur
          app_id: ${{ vars.CLIENT_ID }}
          app_key: ${{ secrets.PRIVATE_KEY }}
          shell: update

      - name: Update packages
        run: update

      - name: Create pull request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        id: cpr
        with:
          token: ${{ steps.init.outputs.token }}
          title: package updates
          body: updated some packages

      - name: Enable automerge
        if: ${{ steps.cpr.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ steps.init.outputs.token }}
        run: >
          gh pr merge
          --rebase
          --auto
          "${{ steps.cpr.outputs.pull-request-number }}"

  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        id: init
        uses: spotdemo4/nix-init@e2fa614def25ff8e1ba97f43825b1dc198792423 # v1.8.13
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          attic_cache: nur
          app_id: ${{ vars.CLIENT_ID }}
          app_key: ${{ secrets.PRIVATE_KEY }}
          shell: update

      - name: Renovate
        env:
          RENOVATE_CONFIG_FILE: .github/renovate.json
          RENOVATE_TOKEN: ${{ steps.init.outputs.token }}
        run: renovate
