name: vulnerable

on:
  schedule:
    - cron: "0 9 * * *" # every day at 09:00 UTC
  workflow_dispatch:

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        id: init
        uses: spotdemo4/nix-init@2109e877d5ff4cd827944b51781cc6b1eac88a47 # v1.8.3
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          attic_cache: nur
          shell: ci

      - name: Check flake
        run: flake-checker -f
