name: vulnerable

on:
  schedule:
    - cron: "0 9 * * *" # every day at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@e33bbfeb90b9958c0ec55db282c93c0c5605f914 # v1.25.2
        with:
          attic_cache: nur
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          shell: vulnerable

      - name: Check flake
        run: flake-checker -f
