name: vulnerable

on:
  schedule:
    - cron: "0 9 * * *" # every day at 09:00 UTC
  workflow_dispatch:

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        id: init
        uses: spotdemo4/nix-init@a4440ed9daa3faedcfc8cd491dbcfa5e38d84156 # v1.8.14
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          attic_cache: nur
          shell: vulnerable

      - name: Check flake
        run: flake-checker -f
