name: vulnerable

on:
  schedule:
    - cron: "0 9 * * *" # every day at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@d46add347bcb1af8755ab1d64493a63b6b18de2b # v1.25.3
        with:
          attic_cache: nur
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          shell: vulnerable

      - name: Check flake
        run: flake-checker -f
