name: vulnerable

on:
  schedule:
    - cron: "0 9 * * *" # every day at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@842337cdd1a41ced81cb88edfd632589ee53ad2d # v1.22.0
        with:
          attic_cache: nur
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          shell: vulnerable

      - name: Check flake
        run: flake-checker -f
