name: vulnerable

on:
  schedule:
    - cron: "0 9 * * *" # every day at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@ed84640dc773603827ade8ecfd81c535733130ac # v1.21.4
        with:
          attic_cache: nur
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          shell: vulnerable

      - name: Check flake
        run: flake-checker -f
