name: vulnerable

on:
  schedule:
    - cron: "0 9 * * *" # every day at 09:00 UTC
  workflow_dispatch:

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        id: init
        uses: spotdemo4/nix-init@050b8d7887f729841b2d104d745c642f2cf5c951 # v1.8.11
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          attic_cache: nur
          shell: vulnerable

      - name: Check flake
        run: flake-checker -f
