name: vulnerable

on:
  schedule:
    - cron: "0 9 * * *" # every day at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@b3297f8312873ecb1f56efc86777c7a164c16e70 # v1.25.0
        with:
          attic_cache: nur
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          shell: vulnerable

      - name: Check flake
        run: flake-checker -f
