name: vulnerable

on:
  schedule:
    - cron: "0 9 * * *" # every day at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        id: init
        uses: spotdemo4/nix-init@f51467ccff80c7dac6ce50368bc262bddd37f0a6 # v1.17.1
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          attic_cache: nur
          shell: vulnerable

      - name: Check flake
        run: flake-checker -f
