root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.sh]
# Read by shfmt as well as editors.
switch_case_indent = true
space_redirects = false

[*.py]
indent_size = 4
