<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>25B78</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Ghostty</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>command</string>
				<string>tool</string>
				<string>sh</string>
				<string>zsh</string>
				<string>csh</string>
				<string>pl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Terminal scripts</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folders</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.directory</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Shell</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.unix-executable</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>ghostty</string>
	<key>CFBundleIconFile</key>
	<string>Ghostty</string>
	<key>CFBundleIconName</key>
	<string>Ghostty</string>
	<key>CFBundleIdentifier</key>
	<string>com.mitchellh.ghostty</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Ghostty</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0f64b9a8e</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>12904</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>25A352</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>26.0</string>
	<key>DTSDKBuild</key>
	<string>25A352</string>
	<key>DTSDKName</key>
	<string>macosx26.0</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A324</string>
	<key>GhosttyBuild</key>
	<string></string>
	<key>GhosttyCommit</key>
	<string>0f64b9a8e</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSEnvironment</key>
	<dict>
		<key>GHOSTTY_MAC_LAUNCH_SOURCE</key>
		<string>app</string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>MDItemKeywords</key>
	<string>Terminal</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>A program running within Ghostty would like to use AppleScript.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>A program running within Ghostty would like to use Bluetooth.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>A program running within Ghostty would like to access your Calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>A program running within Ghostty would like to use the camera.</string>
	<key>NSContactsUsageDescription</key>
	<string>A program running within Ghostty would like to access your Contacts.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>A program running within Ghostty would like to access the local network.</string>
	<key>NSLocationUsageDescription</key>
	<string>A program running within Ghostty would like to access your location information.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>A program running within Ghostty would like to use your microphone.</string>
	<key>NSMotionUsageDescription</key>
	<string>A program running within Ghostty would like to access motion data.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>A program running within Ghostty would like to access your Photo Library.</string>
	<key>NSRemindersUsageDescription</key>
	<string>A program running within Ghostty would like to access your reminders.</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>New Ghostty Tab Here</string>
			</dict>
			<key>NSMessage</key>
			<string>openTab</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>public.plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>New Ghostty Window Here</string>
			</dict>
			<key>NSMessage</key>
			<string>openWindow</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>public.plain-text</string>
			</array>
		</dict>
	</array>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>A program running within Ghostty would like to use speech recognition.</string>
	<key>NSSystemAdministrationUsageDescription</key>
	<string>A program running within Ghostty requires elevated privileges.</string>
	<key>SUPublicEDKey</key>
	<string>wsNcGf5hirwtdXMVnYoxRIX/SqZQLMOsYlD3q3imeok=</string>
</dict>
</plist>
