{{- /* Generic borderless browser launcher */ -}}
{{- file "modot-webapp-borderless-browser.desktop" "0644" }}
[Desktop Entry]
Type=Application
Name=Borderless Browser
Icon=applications-internet
Exec=sh -lc 'url="$(modot driver input text "URL")" && modot open webapp --url "$url"'
Categories=Network;WebBrowser;
{{- endfile }}
