[Desktop Entry]
Type=Application
Name=nixcfg: Sincronização Rápida
Comment=Quick sync dotfiles configuration
Icon=sync-synchronizing
Exec=workspaced utils backup sync
Terminal=true
Categories=System;Utility;
