[submodule "core"]
	path = core
	url = https://github.com/rukamori/core.git
[submodule "lyrics"]
	path = lyrics
	url = https://github.com/rukamori/lyrics.git
[submodule "IconPack"]
	path = IconPack
	url = https://github.com/rukamori/IconPack
[submodule "morideobfuscator"]
	path = morideobfuscator
	url = https://github.com/rukamori/morideobfuscator.git
