source
outputs
result*
temp

/.direnv

/.gitsecret/keys/random_seed
/home/modules/accounts/email/email.json
/nixos/flake-modules/configurations/fracture-ray/proxy.json
/nixos/modules/services/rclone/file-systems.nix
