name: "Build and populate cache"
on:
  pull_request:
  push:
    branches:
      - main
      - master
  schedule:
    # rebuild everyday at 2:51
    # TIP: Choose a random time here so not all repositories are build at once:
    # https://www.random.org/clock-times/?num=1&earliest=01%3A00&latest=08%3A00&interval=5&format=html&rnd=new
    - cron: "20 12 * * *"
  workflow_dispatch:
jobs:
  tests:
    strategy:
      matrix:
        # Set this to notify the global nur package registry that changes are
        # available.
        #
        # The repo name as used in
        # https://github.com/nix-community/NUR/blob/master/repos.json
        nurRepo:
          - MiyakoMeow/nur-packages
        # Set this to cache your build results in cachix for faster builds
        # in CI and for everyone who uses your cache.
        #
        # Format: Your cachix cache host name without the ".cachix.org" suffix.
        # Example: mycache (for mycache.cachix.org)
        #
        # For this to work, you also need to set the CACHIX_SIGNING_KEY or
        # CACHIX_AUTH_TOKEN secret in your repository secrets settings in
        # Github found at
        # https://github.com/<your_githubname>/nur-packages/settings/secrets
        cachixName:
          - miyakomeow
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            extra-platforms = aarch64-linux
            substituters = https://miyakomeow.cachix.org/ https://nix-community.cachix.org/ https://cache.nixos.org/
            trusted-public-keys = miyakomeow.cachix.org-1:85k7pjjK1Voo+kMHJx8w3nT1rlBow3+4/M+LsAuMCRY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=

      - name: Show nixpkgs version
        run: nix eval --impure --raw --expr "(import (builtins.getFlake \"path:${PWD}\").inputs.nixpkgs {}).lib.version"

      - name: Setup cachix
        uses: cachix/cachix-action@v16
        # Don't replace <YOUR_CACHIX_NAME> here!
        if: ${{ github.event_name != 'pull_request' && matrix.cachixName != '<YOUR_CACHIX_NAME>' }}
        with:
          name: ${{ matrix.cachixName }}
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Check evaluation
        run: |
          NIXPKGS=$(nix eval --impure --raw --expr "(builtins.getFlake \"path:${PWD}\").inputs.nixpkgs.outPath")
          nix-env -f . -qa \* --meta --json \
            --option allow-import-from-derivation true \
            --drv-path --show-trace \
            -I nixpkgs=$NIXPKGS \
            -I $PWD

      - name: Build nix packages
        run: |
          NIXPKGS=$(nix eval --impure --raw --expr "(builtins.getFlake \"path:${PWD}\").inputs.nixpkgs.outPath")
          nix shell "path:${NIXPKGS}#nix-build-uncached" -c nix-build-uncached ci.nix -I nixpkgs=$NIXPKGS -A cacheOutputs

      - name: Trigger NUR update
        # Don't replace <YOUR_REPO_NAME> here!
        if: ${{ matrix.nurRepo != '<YOUR_REPO_NAME>' && false }}
        run: curl -XPOST "https://nur-update.nix-community.org/update?repo=${{ matrix.nurRepo }}"
