name: "Update flake.lock"
on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: "0 11 */3 * *" # Run at 11:00 (UTC) every 3 days. It will run on 1,4,7,10,13,16,19,22,25,28,31 every month

jobs:
  update-lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable
          extra_nix_config: |
            experimental-features = nix-command flakes
            substituters = https://miyakomeow.cachix.org/ https://nix-community.cachix.org/ https://cache.nixos.org/
            trusted-public-keys = miyakomeow.cachix.org-1:85k7pjjK1Voo+kMHJx8w3nT1rlBow3+4/M+LsAuMCRY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=

      - name: Install required tools
        run: |
          nix profile install nixpkgs#git nixpkgs#python3 nixpkgs#gh nixpkgs#jq

      - name: Update flake.lock
        if: ${{ github.event_name != 'pull_request' }}
        id: create-pull-request
        uses: DeterminateSystems/update-flake-lock@main
        with:
          pr-title: "Auto Update(flake.lock)" # Title of PR to be created
          pr-labels: | # Labels to be set on the PR
            dependencies
            automated
          path-to-flake-dir: "."
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
          git-author-name: MiyakoMeow Bot Author
          git-author-email: github-actions[bot]@users.noreply.github.com
          git-committer-name: MiyakoMeow Bot Committer
          git-committer-email: github-actions[bot]@users.noreply.github.com

      - name: Wait for CI completion
        if: steps.create-pull-request.outputs.pull-request-operation == 'created'
        run: |
          PR_NUMBER='${{ steps.create-pull-request.outputs.pull-request-number }}'
          scripts/ci/wait-for-actions.sh "$PR_NUMBER"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Enable Pull Request Automerge
        if: steps.create-pull-request.outputs.pull-request-operation == 'created'
        env:
          GITHUB_TOKEN: ${{ secrets.AUTOMERGE_TOKEN }}
        run: |
          PR_NUMBER='${{ steps.create-pull-request.outputs.pull-request-number }}'
          echo "Enabling auto-merge for PR #$PR_NUMBER"
          gh pr merge "$PR_NUMBER" --auto --squash
