name: Update NUR-combined
on:
  repository_dispatch:
    types:
      - nur_update
  workflow_dispatch:
concurrency:
  group: update
  cancel-in-progress: false
jobs:
  update_combined:
    runs-on: ubuntu-latest
    steps:
    - id: get_workflow_token
      uses: peter-murray/workflow-application-token-action@d17e3a9a36850ea89f35db16c1067dd2b68ee343 # v4.0.1
      with:
        application_id: '${{ secrets.GH_APPLICATION_ID }}'
        application_private_key: '${{ secrets.GH_APPLICATION_PRIVATE_KEY }}'
        permissions: "contents:write"
        revoke_token: true
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      with:
        repository: nix-community/NUR
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      with:
        repository: nix-community/nur-combined
        path: nur-combined
    - uses: cachix/install-nix-action@56a7bb7b56d9a92d4fd1bc05758de7eea4a370a8 # v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable
        extra_nix_config: |
          experimental-features = nix-command flakes
    - name: update nur-combined
      run: ./ci/update-nur-combined.sh
      env:
        API_TOKEN_GITHUB: '${{ steps.get_workflow_token.outputs.token }}'
    - name: rebase # TODO: fix upstream push-protected to retry when push fails
      run: |
        source ./ci/lib/setup-git.sh
        git -C $GITHUB_WORKSPACE/nur-combined fetch origin ${{ github.event.repository.default_branch }}
        git -C $GITHUB_WORKSPACE/nur-combined pull --rebase origin ${{ github.event.repository.default_branch }}
      env:
        GITHUB_TOKEN: ${{ steps.get_workflow_token.outputs.token }}
    - uses: CasperWA/push-protected@74d25b8aa10e0c29024138735d32f3c0b75f9279 # v2
      with:
        token: ${{ steps.get_workflow_token.outputs.token }}
        branch: ${{ github.event.repository.default_branch }}
        path: nur-combined
